@import url(home.css);
@import url(gallery.css);
@import url(nav.css);

:root {
    --background-color: #0d0d0d;
    --main-nav-color: #262626;
    --sub-nav-color: #757575;
    --text-color: #f2f2f2;
}

@font-face {
    font-family: 'DM Sans';
    src: url(/assets/font/DMSans-VariableFont_opsz,wght.ttf) format('truetype');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@keyframes slide {
    0% {
        margin-left: 50px;
    }
    20% {
        margin-left: -1500px;
    }
    40% {
        margin-left: -3000px;
    }
    60% {
        margin-left: -4500px;
    }
    80% {
        margin-left: -6750px;
    }
    100% {
        margin-left: 50px;
        animation-timing-function: ease-in-out;
    }
}

* {
    transition: all 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    animation: fadeIn 2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
}

hr {
    width: 60%;
    margin: 20px auto;
    padding: 0;
    box-shadow: 0px 5px 10px 5px rgba(242, 242, 242, 0.25);
}

/* Pricing */
#pricing {
    width: 100%;
    height: 100vh;
    padding-bottom: 15%;
}

.price-cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.item-card {
    height: 100%;
    width: 500px;
    background-color: var(--main-nav-color);
    border: 1px solid #f2f2f25a;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.2);
    padding: 50px;
}

.item-card:hover {
    transform: scale(1.025);
    box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.2);
}

.card-header img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.short {
    width: 100%;
    box-shadow: none;
    margin: 10px auto;
}

.card-header h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.card-header h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 -15px 0;
}

.card-header h4 {
    font-weight: 300;
    margin: 0 0 -8px 0;
}

.card-body {
    margin: 0;
}

.card-body ul {
    font-size: 24px;
    list-style-type: symbols(cyclic "🔹");
    filter: grayscale(100%);
}

/* Mobile Styles */
@media screen and (orientation: portrait) {

    @keyframes slide {
        0% {
            margin-left: 0px;
        }
        20% {
            margin-left: -800px;
        }
        40% {
            margin-left: -1600px;
        }
        60% {
            margin-left: -3200px;
        }
        80% {
            margin-left: -4800px;
        }
        100% {
            margin-left: 0px;
            animation-timing-function: ease-in-out;
        }
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: fit-content;
        height: 60%;
        padding: 5px;
        margin: 0 auto;
    }
    
    header h4 img {
        height: 0px;
        width: 0px;
        opacity: 0%;
        margin: 0;
        visibility: hidden;
    }
    
    header h4 {
        font-size: 0px;
        opacity: 0%;
        margin: 0;
    }
    
    .nav-links {
        list-style: none;
        text-align: left;
        margin: 0 0 0 -40px;
    }

    .nav-links li {
        margin: 0;
        padding: 0 10px;
    }

    .nav-links a {
        font-size: 12px;
        margin: 0;
    }

    .section-header h1 {
        font-size: 18px;
    }

    .section-header p {
        font-size: 36px;
        text-align: center;
    }

    #gallery,
    #pricing {
        padding-top: 10%;
    }

    .slider {
        margin-left: 0;
        animation: slide 90s infinite linear;
        overflow-x: hidden;
    }

    .slider:hover {
        animation-play-state: paused;
    }

    #gallery img {
        height: 300px;
        filter: grayscale(0%);
    }

    .price-cards {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .item-card {
        width: 80%;
        padding: 25px;
    }

    .card-header img {
        height: 200px;
    }

    .card-header h2 {
        font-size: 36px;
    }

    .card-header h3 {
        font-size: 32px;
    }

    .card-header h4 {
        font-size: 24px;
    }

    .card-body ul {
        font-size: 18px;
    }
}