@font-face {
    font-family: 'Inter';
    src: url(/assets/font/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

html {
    animation: fadeIn 3s ease-in-out;
}

body {
    background-color: #0d0d0d;
    color: #f2f2f2;
    font-family: 'Inter';
}

hr {
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

/* Nav */
header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 80%;
    border-radius: 20px;
    background-color: #262626;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}

header:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

header h4 img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

header h4 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    margin-top: -75px;
    margin-left: 75%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
}

/* Home */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.section-header h1 {
    font-size: 32px;
    font-weight: bold;
}

.section-header p {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    margin-top: 10px;
}

/* Gallery */
.slider {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        margin-left: 0px;
    }
    20% {
        margin-left: -1500px;
    }
    40% {
        margin-left: -3000px;
    }
    60% {
        margin-left: -4500px;
    }
    80% {
        margin-left: -6500px;
    }
    100% {
        margin-left: 0px;
        animation-timing-function: ease-in-out;
    }
}

#gallery img {
    height: 500px;
    max-width: 1080px;
    margin-right: 30px;
    border-radius: 20px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

#gallery img:hover {
    height: 600px;
    border: 2px solid #f2f2f2;
    filter: grayscale(0%);
    box-shadow: 0px 0px 10px 10px rgba(242, 242, 242, 0.2);
    transition: all 0.5s ease-in-out;
}